<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <features_section>
            <features>
                <stacksight_features_logs>0</stacksight_features_logs>
                <stacksight_features_events>1</stacksight_features_events>
            </features>
        </features_section>
    </default>
</config>